@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
}

.contact-us-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 53px;
  line-height: 60px;
  letter-spacing: -0.05em;
  padding: 10px;
  color: #000000;
  flex: none;
  order: 0;
  margin-bottom: 20px;
  align-self: stretch;
  flex-grow: 0;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #363636;
  padding: 10px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.contact-us-form {
  padding: 40px;
  gap: 24px;
  background: #1f1f1f;
  border-radius: 32px;
}

.input-template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  background: #3c3c3c;
  border-radius: 16px;
  color: #ffffff;
  width: 100%;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.input-textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 100%;
  background: #3c3c3c;
  border-radius: 16px;
  flex: none;
  color: #ffffff;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

#inputID::placeholder {
  color: #ffffff;
  opacity: 1;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 20px;
  gap: 8px;
  width: 142px;
  height: 56px;
  background: url(../assets/background-image2.png);
  border-radius: 16px;
}

.btn-span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
@media only screen and (max-width: 480px) {
  .contact-us-header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: -0.05em;
    padding: 10px;
    color: #000000;
    flex: none;
    order: 0;
    margin-bottom: 10px;
    align-self: stretch;
    flex-grow: 0;
  }

  .description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #363636;
    padding: 10px;
  }

  .input-data-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    background: #3c3c3c;
    border-radius: 16px;
  }

  .input-textarea {
    padding: 20px;
    gap: 8px;
    background: #3c3c3c;
    border-radius: 16px;
    flex: none;
    color: #ffffff;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }

  .contact-us-form {
    padding: 20px;
    gap: 24px;
    background: #1f1f1f;
    border-radius: 32px;
    flex: none;
    flex-grow: 0;
    order: 1;
    flex-grow: 0;
  }
}
